
/*
=========================================================
					LOGIN.CSS
=========================================================
*/

body {
    font-family: 'Raleway', sans-serif;
    /* background-size: cover; */
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #c33764, #1d2671);
    background-image: url("../img/pexels-photo-952437.jpeg");
}


main .titulo h1 {
    font-size: 30px;
    color: white;

}

main .formulario{
    background-color: #bc17dd1e;
    width: 500px;
    display: block;
    margin: 100px auto;
    text-align: center;
    border: 2px rgba(255, 255, 255, 0.308) solid;
    border-radius: 20px;
}

main .formulario .contenedor-formulario {
    
}


main .formulario .contenedor-formulario .btn {
    display: block;
    margin: 20px auto;
    width: 300px;
    padding: 20px;
    border: none;
    border-radius: 10px;
}

main .formulario .contenedor-formulario .btn2 {
    display: block;
    margin: 20px auto;
    width: 150px;
    color: white;
    background-color: rgb(9, 5, 253);
    padding: 20px;
    border: 1px solid #ffffff69;
    border-radius: 10px;
}

main .formulario .contenedor-formulario .btn2:hover {
    background-color: rgb(27, 24, 172);
    border: 1px solid white;
}

main .formulario .contenedor-formulario .btn3 {
    width: 100px;
    padding: 20px 5px 20px 0;
    border: none;
    border-radius: 10px;
    color: white;
    
}

main .formulario .contenedor-formulario .btn3-input {
    margin: 0;

}

main .formulario a {
    display: inline-block;
    padding: 10px;
    margin: 20px 0 20px 0;
    border-radius: 10px;
    text-decoration: none;
    color: white;
}






